$color-text: #fff;
$color-secondary: #19376d;
$color-primary: #576cbc;
$color-dark: #0b2447;
$color-bg: #04152d;
$color-tertiary: #61dbfd;
$color-dogerBlue: #2fa1ff;
$color-four: #ffae2f;
$color-five: #c82fff;

