.heroContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;


    .heroContent {
        z-index: 1;
        width: 50%;
        display: flex;
        align-items: center;

        .heroTitle {
            font-size: 40px;
            margin-bottom: 52px;
            margin-left: 7rem;
            white-space: pre-line;
        }

    }

    .heroImg {
        width: 45%;
        z-index: 1;
        transition: transform .5s ease-in-out;

        &:hover {
            transform: scale(1.2)
        }
    }

    .topBlur {
        position: absolute;
        width: 50vw;
        height: 50vw;
        min-width: 350px;
        top: -128px;
        left: -10vw;
        border-radius: 764px;
        background: rgba(25, 55, 109, 0.7);
        filter: blur(100px);
        z-index: 0;
    }

    .bottomBlur {
        position: absolute;
        width: 70vw;
        height: 50vw;
        min-width: 350px;
        top: 246px;
        right: 25vw;
        border-radius: 764px;
        background: rgba(25, 55, 109, 0.7);
        filter: blur(100px);
    }

    @media (max-width: 830px) {

        flex-direction: column-reverse;
        margin-top: 1rem;
       
        .heroContent {
            z-index: 0;
            width: 100%;
            .heroTitle {
                margin-left: 0;
                margin-top: .5rem;
                margin-bottom: 3rem;
                font-size: 38px;
            }
        }
        .heroImg {
            width: 70%;
            z-index: 0;
        }
        .topBlur {
            display: none;
        }
        .bottomBlur {
            display: none;
        }
       
    }


}